<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Register</h2>
        <p>Create Your Compte </p>
      </div>
    </div>
<body>
    <div class="contact-form">
        <form class="pt-3" [formGroup]="registerAForm" (ngSubmit)="onSubmit()">

          <div class="field">
            <input type="email" placeholder="Email Address" class="form-control" formControlName="email" required
            [ngClass]="{ 'is-invalid': submitted && a['email'].errors }">
          </div>
              <div *ngIf="submitted && a['email'].errors" class="text-danger">
                  <div *ngIf="a['email'].errors['required']">email is required</div>
                  <div *ngIf="a['email'].errors['pattern']">email name not valid.</div>
                </div>

          <div class="field space">
                  <input type="password" placeholder="Enter your Password"
                   class="form-control" formControlName="password" required
                   [ngClass]="{ 'is-invalid': submitted && a['password'].errors }">
          </div>

                <div *ngIf="submitted && a['password'].errors" class="text-danger">
                  <div *ngIf="a['password'].errors['required']">password is required</div>
                  <div *ngIf="a['password'].errors['pattern']">password name not valid.</div>
                </div>
        <br>
            <div>
              <button class="custom-btn btn-4" type="submit">Register</button>
            </div>
            <br>
            <div class="text-center register-link">
              Already have an account?
              <a routerLink="/login-ad">Login Now</a>
            </div>
        </form>
     </div>

    </body>



