<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Menu</h2>
        <p>Check Our Tasty Menu</p>
      </div>
      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200" *ngFor="let Menu of menus"  >
        <div class="col-lg-6 menu-item filter-starters">
          <img [src]="'http://localhost:3000/'+ Menu.imageFood" class="menu-img" alt="">
          <div class="menu-content">
            <a >{{Menu.nameFood }}</a><span>{{Menu.price }}</span>
          </div>
          <div class="menu-ingredients">
            {{Menu.ingredient }}
          </div>
        </div>

        
      </div>
    </div>
  </section><!-- End Menu Section -->
