

<header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1> " OMK HORIA "</h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
        <li class="dropdown"><a class="nav-link scrollto" ><span>"Makletna"</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/consult"> Makletna </a></li>
              <li><a routerLink="/add-menu">Ajouty Mekla </a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="nav-link scrollto"><span>Fok Blastek</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="#">Chkoun Maana </a></li>
                    </ul>
              <li class="dropdown"><a class="nav-link scrollto"><span>7afalha </span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="#">Ajouty  7afla </a></li>
                    <li><a href="#">Modify 7afla </a></li>
                    </ul>
                  </li>

              <li class="dropdown"><a class="nav-link scrollto"><span>Chef maakom</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="#">Ajouty un chef </a></li>
                    <li><a href="#">Modify un chef </a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="nav-link scrollto"><span>Tsawar maana</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                      <li><a href="#">Ajouty Taswira </a></li>
                        </ul>
                    </ul>


        <i class="bi bi-list mobile-nav-toggle"></i>
        <form class="d-flex">
          <button  type="submit" (click)="logOutAdmin()" >
            <a routerLink="/login-ad" >LogOUT</a> </button>
</form>
      </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->
 <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      </div>
  </section><!-- End Hero -->

