
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Reservation</h2>
        <p>Fok Blastek </p>
      </div>
    </div>

    <table class="table table-striped table-dark">
        <thead >
          <tr >
            <th scope="col">Name </th>
            <th scope="col">E-mail</th>
            <th scope="col">Tel</th>
            <th scope="col">Date</th>
            <th scope="col">Heure </th>
            <th scope="col">Personne</th>
            <th scope="col">message</th>

            <th>&nbsp;</th>
          </tr>
        </thead>
        <tr class="align-middle alert border-bottom" role="alert" *ngFor="let Reserv of reserv">
            <td>
                <div>
                    <p class="m-0 fw-bold">{{Reserv.nameR}}</p>
                </div>
            </td>
            <td>
                <div>
                    <p class="m-0 fw-bold">{{Reserv.mailR}}</p>
                </div>
            </td>
            <td>
                <div>
                    <p class="m-0 fw-bold">{{Reserv.telR}}</p>
                </div>
            </td>
            <td>
                <div>
                    <p class="m-0 fw-bold">{{Reserv.dateR}}</p>
                </div>
            </td>
            <td>
              <div>
                  <p class="m-0 fw-bold">{{Reserv.timeR}}</p>
              </div>
          </td>
          <td>
            <div>
                <p class="m-0 fw-bold">{{Reserv.messageR}}</p>
            </div>
        </td>
            <td>
                <button type="submit" (click)=" dltReserv(Reserv._id)" (click)="refresh()" >
                    <span > <i class="bi bi-trash-fill"></i></span></button>
            </td>


        <tbody>
          <tr>

          </tr>
        </tbody>
      </table>
